In [1]:
#importing required libraries
import pandas as pd 
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [2]:
#data upload
spam=pd.read_csv("data.csv",encoding='ISO-8859-1')

In [3]:
# In the dataset randomly select 5 samples
spam.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
4741,ham,Ya very nice. . .be ready on thursday,NaN,NaN,NaN
4543,ham,when you and derek done with class?,NaN,NaN,NaN
1126,ham,Not tonight mate. Catching up on some sleep. T...,NaN,NaN,NaN
3075,ham,"Mum, hope you are having a great day. Hoping t...",NaN,NaN,NaN
4572,spam,\URGENT! This is the 2nd attempt to contact U!...,NaN,NaN,NaN

In [4]:
# not removing unnecessary columns
spam=spam.iloc[:,0:2]
spam.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
#change column names:
spam.rename(columns={"v1":"spam",
                  "v2":"sms"},inplace=True)

In [6]:
spam=spam.drop_duplicates(keep="first")

In [7]:
print(spam.isnull().sum())

spam    0
sms     0
dtype: int64

In [8]:
#label encoder :
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
spam["spam"]=encoder.fit_transform(spam["spam"])

In [9]:
import nltk 
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer
import string
from nltk.corpus import stopwords

ps = PorterStemmer()
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Gamze\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Gamze\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
def sms_transform(sms_text):  
    text = sms_text.lower()
    text = nltk.word_tokenize(text)    
    word = []   
    for i in text:
        if i.isalnum() and  i not in stopwords.words('english') and i not in string.punctuation:
            word.append(ps.stem(i))            
    return " ".join(word)  

spam['sms_transform'] = spam['sms'].apply(sms_transform)

In [11]:
spam.head()

,spam,sms,sms_transform
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

In [12]:
spam.to_csv("cleaning_data.csv")