In [1]:
import pandas as pd

In [2]:
spam=pd.read_csv("cleaning_data.csv")
spam.head()
spam=spam.iloc[:,1:]
pd.set_option("display.max_rows",None)
spam.head()

,spam,sms,sms_transform
0,0,"Go until jurong point, crazy.. Available only ...",go jurong point crazi avail bugi n great world...
1,0,Ok lar... Joking wif u oni...,ok lar joke wif u oni
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,free entri 2 wkli comp win fa cup final tkt 21...
3,0,U dun say so early hor... U c already then say...,u dun say earli hor u c alreadi say
4,0,"Nah I don't think he goes to usf, he lives aro...",nah think goe usf live around though

In [3]:
print(spam.shape)
spam=spam.dropna()
print(spam.shape)

(5169, 3)
(5160, 3)

In [4]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer()#frekansları hesaplar 
tfidf = TfidfVectorizer(max_features=4000)
X = tfidf.fit_transform(spam['sms_transform']).toarray()#her kelimenin önem derecesinde göre bir ağırlık verir
y = spam['spam'].values

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)


from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score

model = BernoulliNB()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

print(confusion_matrix(y_test,y_pred))

print("---------------------")

print(accuracy_score(y_test,y_pred))

print("---------------------")

print(precision_score(y_test,y_pred))

[[907   2]
 [ 30  93]]
---------------------
0.9689922480620154
---------------------
0.9789473684210527

In [6]:
#model saving 
import pickle 
filename = 'spam_detection_model.sav'
pickle.dump(model, open(filename, 'wb'))